<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HubSpot Test Automation Regression Suite">
	<test name="HubSpot Regression Test Cases">
		<classes>
			<class name="com.qa.xyz.tests.LoginTest"></class>
			<class name="com.qa.xyz.tests.HomePageTest"></class>
			
		</classes>
	</test>
</suite>